.hero {
    overflow-x: hidden;
    .owl-carousel {
        .owl-dots {
            text-align: center;
            position: relative;
            margin-top: -27px;
            .owl-dot {
                width: 10px;
                height: 10px;
                background-color: $color__brown;
                margin: 5px;
                border-radius: 50%;
                &.active {
                    background-color: #cf303f;
                }
            }
        }
    }
}